top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

head {
  background-color: lightblue;
}

body {
  background-color: lightblue;
}

h2 {
  font-family: arial;
}

h3 {
  font-family: arial;
}
