
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
  background-color: #1B263B;
  font-family: 'Raleway', sans-serif;
  color: #F7FFF7;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #BB0A21;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  display: block;
}

a {
  color: #F7FFF7;
}

a:hover {
  color: #BB0A21;
}
